body {
    font-family: Arial;
    background: #121212;
    color: white;
    text-align: center;
}

.login-box {
    width: 300px;
    margin: 150px auto;
    background: #1e1e1e;
    padding: 20px;
    border-radius: 10px;
}

input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
}

button {
    padding: 10px 20px;
    background: #1db954;
    border: none;
    cursor: pointer;
    color: black;
    font-weight: bold;
}
